@import nib

$color-highlight = #6dd97c
$color-contrast = #ffffff
$color-text = #3a3b3c
$color-text-menu = #2358af
$color-text-medium = #066ed2
$color-text-dark = #a1a1a1
$color-text-light = #dadada
$color-error = #dc0000

//PX to REM/EM variable
$base_font_size = 16
px(original, base = "none")
	if base == "none"
		( original / $base_font_size ) rem
	else	
		( original / base ) em

/*------------------------------------------------------------------
[Table of contents]

1. General Styles (Mobile First)
2. Header
3. Main Content
4. Contact Form
5. Grid MOD
6. Grid
7. Slider (Flexslider) Style
8. Others
-------------------------------------------------------------------*/

$type_h_font_lineheight = 1.1em
$type_font_family = 'Titillium Web', sans-serif
$type_font_family_alt = 'PT Sans', sans-serif
$type_font_weight_light = 300
$type_font_weight_regular = 400
$type_font_weight_semi_bold = 600

h1, h2, h3, h4, h5, h6
	font-family: $type_font_family
	line-height: $type_h_font_lineheight
h1
	font-weight: $type_font_weight_light
	font-size: px(36)
	@media only screen and (max-width: 640px)	
		font-size: px(18)	
	color: $color-text
h2
	color: $color-text-menu
	font-family: $type_font_family_alt
	font-weight: $type_font_weight_regular
	font-size: px(20)
	@media only screen and (max-width: 640px)	
		font-size: px(16)	

/* -------------------------------- 
1. General Styles (Mobile First)
-------------------------------- */

@-ms-viewport
	width: device-width

html.lt-ie9
	max-width: 600px
	margin: 0 auto
	position: relative

*
	-moz-box-sizing: border-box
	-webkit-box-sizing: border-box
	box-sizing: border-box
	margin: 0
	padding: 0
	-webkit-font-smoothing: antialiased

body
	font-size: 1em /* 16 / 16 */ 
	line-height: 1.5em
	background: $color-contrast

img
	max-width: 100%
	height: auto

a
	text-decoration: none

p, ul li
	color: $color-text
	font-family: $type_font_family
	font-weight: $type_font_weight_light
	font-size: px(20)
	@media only screen and (max-width: 640px)	
		font-size: px(16)

footer
	background: $color-text
	.container
		padding: px(25) 0
		.columns.four p
			@media only screen and (max-width: 640px)
				text-align: center		
	p
		color: $color-contrast
		font-size: px(18)
	a
		color: $color-text-dark

.footer-links
	text-align: center
	width: 100%
	border-top: 1px solid $color-text-dark
	li
		display: inline
		font-family: $type_font_family_alt
		font-size: px(14)
		padding: 0 px(20)
	li:first-child
		border-right: 1px solid $color-text-dark
	.container
		padding: px(10) 0

/* -------------------------------- 
2. Header
-------------------------------- */
#top-bar
	width: 100%
	position:relative
	background: rgba(255, 255, 255, 0.85)
	font-family: $type_font_family_alt
	z-index: 999
	#navigation
		.button-flat
			color: $color-contrast

.hero-cover
	position: absolute
	width: 100%
	height: px(650)
	@media only screen and (max-width: 640px)	
		height: px(480)	
	top: 0
	left: 0
	z-index: 0 
	background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../imgs/hero-cover.jpg) top / cover

.hero-content
	padding: px(115) 0 px(120) 0
	@media only screen and (max-width: 640px)	
		padding: px(50) 0 0 0
	color: $color-contrast;
	h1
		font-family: $type_font_family_alt
		color: $color-contrast
	p
		color: $color-contrast;
		padding: px(16) 0 px(40) 0
	.video-container
		position: relative
		padding-bottom: 56.25%
		margin-top: px(16)
		@media only screen and (max-width: 640px)	
			margin-top: px(70)
		height: 0
		overflow: hidden
		iframe, embed
			position: absolute
			top: 0
			left: 0
			width: 100%
			height: 100%		

h1.logo
	margin-top: px(30)
	margin-left: px(-16)

#navigation
	float: right
	list-style: none
	position: relative
	display:block
	margin: px(30) 0
	@media only screen and (max-width: 640px)	
		margin: 0 0 px(20) 0
	li
		list-style: none
		float: left
		text-align: center
		a
			position: relative
			display: inline-block
			padding: px(15) px(10)
			color: $color-text-menu
			text-decoration:none
			font-family: $type_font_family_alt
			font-size: px(20)
			@media only screen and (max-width: 640px)	
				font-size: px(16)			
			transition: all 200ms ease
			&:hover
				color: darken($color-text-menu, 40%)
		&:last-child
			padding-left: px(8)
			a
				padding: px(15) px(30)

/* -------------------------------- 
3. Main Content
-------------------------------- */
.main
	.features
		padding: px(50) 0 px(80) 0
		@media only screen and (max-width: 640px)
			padding: px(20) 0
		h2
			line-height: 2em
		p
			font-size: px(18)
			font-family: $type_font_family_alt
			line-height: 1.2em
		div
			padding: px(20) px(16) px(20) px(16)
			text-align: center
	.half-cover
		width: 48.4%
		position: absolute
		@media only screen and (max-width: 640px)	
			width: 85%
			position: relative		
	#details
		.button-flat
			background: $color-text-menu
			&:hover
				background: darken($color-text-menu, 30%)		
		p
			padding: px(20) 0
		.description
			&:first-child
				padding: px(36) 0
				height: px(450)
				@media only screen and (max-width: 640px)
					height: px(350)				
			&:nth-child(2)
				padding: px(90) 0 px(110) 0
				@media only screen and (max-width: 640px)
					padding: px(30) 0				
				img
					margin: px(-20) 0 0 px(56)
					@media only screen and (max-width: 640px)
						margin: px(30) 0							

/* -------------------------------- 
4. Contact Form
-------------------------------- */
#contact-form
	background: $color-text-menu
	padding: px(60) 0
	p
		font-size: px(18)
	.row
		background: $color-contrast
		padding: px(60) px(30)
		border-left: 30px solid $color-contrast
		border-right: 30px solid $color-contrast
	.eight:last-child
		padding-top: px(35)

.cd-form
	input
		margin: 0
		padding: 0
		background: none
		font-family: $type_font_family_alt
		font-size: px(18)
		color: $color-text-dark	
		&.full-width
			width: 100%
		&.has-padding 
			padding: px(15)
		&.has-border
			border: 1px solid #a1a1a1
			-webkit-appearance: none
			-moz-appearance: none
			-ms-appearance: none
			appearance: none			
	.fieldset
		padding: px(8) 0
	textarea
		font-family: $type_font_family_alt
		resize: none
		display: block
		width: 100%
		border: 1px solid #a1a1a1
		padding: px(15)
		font-size: px(18)
		color: $color-text-dark	
	.insc
		display: inline-block
		font-size: px(14)
		color: #3a3b3c
		line-height: 1.3em
		font-family: $type_font_family_alt
	input[type=text]:focus, textarea:focus
		border: 1px solid $color-text-menu
		-webkit-box-shadow: 0px 0px 3px 0px rgba(35,88,175,0.36);
		-moz-box-shadow: 0px 0px 3px 0px rgba(35,88,175,0.36);
		box-shadow: 0px 0px 3px 0px rgba(35,88,175,0.36);
		color: $color-text-light

.error-message
	background: lighten($color-error, 45%)
	padding: px(8) px(20)
	color: $color-contrast
	font-size: px(12)
	/* prevent click and touch events */
	pointer-events: none
	opacity: 0
	display: none
	transition: all 200ms ease

.error-message.is-visible
	opacity: 1
	visibility: visible
	display: inline-block
	transition: all 200ms ease

.input-error
	border: 1px solid $color-error
	-webkit-box-shadow: 0px 0px 3px 0px rgba(220,0,0,0.36)
	-moz-box-shadow: 0px 0px 3px 0px rgba(220,0,0,0.36)
	box-shadow: 0px 0px 3px 0px rgba(220,0,0,0.36)
	color: $color-error

.half
	width: 50%

.align-right
	text-align: right
	float: right

.cd-form input[type=submit]
	position: inline-block
	right: 0
	cursor: pointer
	transition: all 200ms ease
	border-radius: 3px 3px 3px 3px
	-moz-border-radius: 3px 3px 3px 3px
	-webkit-border-radius: 3px 3px 3px 3px
	background: $color-highlight
	color: $color-contrast
	padding: px(5) px(30)
	font-family: $type_font_family
	font-size: px(18)
	font-weight: $type_font_weight_semi_bold
	border: none
	-webkit-appearance: none
	-moz-appearance: none
	-ms-appearance: none
	-o-appearance: none
	appearance: none

.cd-form input[type=submit]:hover, .cd-form input[type=submit]:focus
	background: darken($color-highlight, 25%)
	outline: none

.tel-info
	font-size: px(32)
	font-family: $type_font_family
	font-weight: $type_font_weight_semi_bold
	line-height: 1.6em

/* -------------------------------- 
5. Grid MOD
-------------------------------- */

.row
	float: left
	clear: both
	width: 100%

.container
	position: relative
	width: 100%
	padding: 0 3.75em
	z-index: 999

.container .columns
	float: left
	padding: 0 1.56%

.container .columns.one, .container .columns.two, .container .columns.three, .container .columns.four, .container .columns.five, .container .columns.six, .container .columns.seven, .container .columns.eight, .container .columns.nine, .container .columns.ten, .container .columns.eleven, .container .columns.twelve, .container .columns.thirteen, .container .columns.fourteen, .container .columns.fifteen, .container .columns.sixteen
	width: 100%

.clearfix:after, .container:after
	content: ''; display: block; overflow: hidden; visibility: hidden; width: 0; height: 0; clear: both

.clearfix, .container
	zoom: 1

@media only screen and (min-width: 1024px)
/* -------------------------------- 
6. Grid
-------------------------------- */  
	.container
		width: 1024px
		margin: 0 auto
		padding: 0
		.columns.one
			width: 6.25%
		.columns.two
			width: 12.5%
		.columns.three
			width: 18.75%
		.columns.four
			width: 25%
		.columns.five
			width: 31.25%
		.columns.six
			width: 37.5%
		.columns.seven
			width: 43.75%
		.columns.eight
			width: 50%
		.columns.nine
			width: 56.25%
		.columns.ten
			width: 62.5%
		.columns.eleven
			width: 68.75%
		.columns.twelve
			width: 75%
		.columns.thirteen
			width: 81.25%
		.columns.fourteen
			width: 87.5%
		.columns.fifteen
			width: 93.75%
		.columns.sixteen
			width: 100%
		.columns.offset8
			margin-left: 50%
	
/* -------------------------------- 
7. Slider (Flexslider) Style
-------------------------------- */
#slider
	background: #efefef

.flexslider
	background: none
	border-radius: 0
	border: none
	position: relative
	top: 20px
	left: 0px
	width: 100%
	a
		text-align: center
		width: 25%
		float: left

.flex-control-nav
	bottom: -30px
	
.flexslider .slides img
	width: auto
	display: inline

.flex-viewport
	width: 100%
	height: 100px
	top: 20px
	left: 0px     
	z-index: -10

.flexslider .slides, .flexslider .slides > li
	background: none
	width: inherit

/* -------------------------------- 
8. Others
-------------------------------- */
.button-flat
	cursor: pointer
	transition: all 200ms ease
	border-radius: 3px 3px 3px 3px
	-moz-border-radius: 3px 3px 3px 3px
	-webkit-border-radius: 3px 3px 3px 3px
	background: $color-highlight
	color: $color-contrast
	padding: px(5) px(30)
	font-family: $type_font_family
	font-size: px(18)
	font-weight: $type_font_weight_semi_bold
	text-decoration: none
	@media only screen and (max-width: 639px)	
		padding: px(6) 7%
		font-size: px(9)
	&.outline
		padding: px(10) px(30)
		background: transparent
		border: 1px solid $color-contrast
		color: $color-contrast
		font-weight: $type_font_weight_regular	
	&:hover
		background: darken($color-highlight, 25%)

.social-links
	padding: px(16) 0 px(8) 0
	a
		&:first-child
			display: inline-block  
			height: 40px
			width: 40px
			background: url('../imgs/icon-fb.svg') no-repeat			
		&:last-child
			margin-left: 4px
			display: inline-block
			height: 40px
			width: 40px
			background: url('../imgs/icon-tw.svg') no-repeat

.list-image
	list-style-image: url(../imgs/bullet.png)
	padding: px(10) 0 px(50) px(32)
	
.list-image-none
	list-style: none
				
@media only screen and (max-width: 639px)
	h1
		font-size: px(18)
	h2
		font-size: px(14)
	p
		font-size: px(14)