/*------------------------------------------------------------------
[Table of contents]

1. General Styles (Mobile First)
2. Header
3. Main Content
4. Contact Form
5. Grid MOD
6. Grid
7. Slider (Flexslider) Style
8. Others
-------------------------------------------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Titillium Web', sans-serif;
  line-height: 1.1em;
}
h1 {
  font-weight: 300;
  font-size: 2.25rem;
  color: #3a3b3c;
}
@media only screen and (max-width: 640px) {
  h1 {
    font-size: 1.125rem;
  }
}
h2 {
  color: #2358af;
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
}
@media only screen and (max-width: 640px) {
  h2 {
    font-size: 1rem;
  }
}
/* -------------------------------- 
1. General Styles (Mobile First)
-------------------------------- */
@-ms-viewport {
  width: device-width;
}
html.lt-ie9 {
  max-width: 600px;
  margin: 0 auto;
  position: relative;
}
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}
body {
  font-size: 1em;
  line-height: 1.5em;
  background: #fff;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
}
p,
ul li {
  color: #3a3b3c;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 300;
  font-size: 1.25rem;
}
@media only screen and (max-width: 640px) {
  p,
  ul li {
    font-size: 1rem;
  }
}
footer {
  background: #3a3b3c;
}
footer .container {
  padding: 1.5625rem 0;
}
@media only screen and (max-width: 640px) {
  footer .container .columns.four p {
    text-align: center;
  }
}
footer p {
  color: #fff;
  font-size: 1.125rem;
}
footer a {
  color: #a1a1a1;
}
.footer-links {
  text-align: center;
  width: 100%;
  border-top: 1px solid #a1a1a1;
}
.footer-links li {
  display: inline;
  font-family: 'PT Sans', sans-serif;
  font-size: 0.875rem;
  padding: 0 1.25rem;
}
.footer-links li:first-child {
  border-right: 1px solid #a1a1a1;
}
.footer-links .container {
  padding: 0.625rem 0;
}
/* -------------------------------- 
2. Header
-------------------------------- */
#top-bar {
  width: 100%;
  position: relative;
  background: rgba(255,255,255,0.85);
  font-family: 'PT Sans', sans-serif;
  z-index: 999;
}
#top-bar #navigation .button-flat {
  color: #fff;
}
.hero-cover {
  position: absolute;
  width: 100%;
  height: 40.625rem;
  top: 0;
  left: 0;
  z-index: 0;
  background: -webkit-linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("../imgs/hero-cover.jpg") top/cover;
  background: -moz-linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("../imgs/hero-cover.jpg") top/cover;
  background: -o-linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("../imgs/hero-cover.jpg") top/cover;
  background: -ms-linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("../imgs/hero-cover.jpg") top/cover;
  background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("../imgs/hero-cover.jpg") top/cover;
}
@media only screen and (max-width: 640px) {
  .hero-cover {
    height: 30rem;
  }
}
.hero-content {
  padding: 7.1875rem 0 7.5rem 0;
  color: #fff;
}
@media only screen and (max-width: 640px) {
  .hero-content {
    padding: 3.125rem 0 0 0;
  }
}
.hero-content h1 {
  font-family: 'PT Sans', sans-serif;
  color: #fff;
}
.hero-content p {
  color: #fff;
  padding: 1rem 0 2.5rem 0;
}
.hero-content .video-container {
  position: relative;
  padding-bottom: 56.25%;
  margin-top: 1rem;
  height: 0;
  overflow: hidden;
}
@media only screen and (max-width: 640px) {
  .hero-content .video-container {
    margin-top: 4.375rem;
  }
}
.hero-content .video-container iframe,
.hero-content .video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
h1.logo {
  margin-top: 1.875rem;
  margin-left: -1rem;
}
#navigation {
  float: right;
  list-style: none;
  position: relative;
  display: block;
  margin: 1.875rem 0;
}
@media only screen and (max-width: 640px) {
  #navigation {
    margin: 0 0 1.25rem 0;
  }
}
#navigation li {
  list-style: none;
  float: left;
  text-align: center;
}
#navigation li a {
  position: relative;
  display: inline-block;
  padding: 0.9375rem 0.625rem;
  color: #2358af;
  text-decoration: none;
  font-family: 'PT Sans', sans-serif;
  font-size: 1.25rem;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  transition: all 200ms ease;
}
@media only screen and (max-width: 640px) {
  #navigation li a {
    font-size: 1rem;
  }
}
#navigation li a:hover {
  color: #153569;
}
#navigation li:last-child {
  padding-left: 0.5rem;
}
#navigation li:last-child a {
  padding: 0.9375rem 1.875rem;
}
/* -------------------------------- 
3. Main Content
-------------------------------- */
.main .features {
  padding: 3.125rem 0 5rem 0;
}
@media only screen and (max-width: 640px) {
  .main .features {
    padding: 1.25rem 0;
  }
}
.main .features h2 {
  line-height: 2em;
}
.main .features p {
  font-size: 1.125rem;
  font-family: 'PT Sans', sans-serif;
  line-height: 1.2em;
}
.main .features div {
  padding: 1.25rem 1rem 1.25rem 1rem;
  text-align: center;
}
.main .half-cover {
  width: 48.4%;
  position: absolute;
}
@media only screen and (max-width: 640px) {
  .main .half-cover {
    width: 85%;
    position: relative;
  }
}
.main #details .button-flat {
  background: #2358af;
}
.main #details .button-flat:hover {
  background: #183e7a;
}
.main #details p {
  padding: 1.25rem 0;
}
.main #details .description:first-child {
  padding: 2.25rem 0;
  height: 28.125rem;
}
@media only screen and (max-width: 640px) {
  .main #details .description:first-child {
    height: 21.875rem;
  }
}
.main #details .description:nth-child(2) {
  padding: 5.625rem 0 6.875rem 0;
}
@media only screen and (max-width: 640px) {
  .main #details .description:nth-child(2) {
    padding: 1.875rem 0;
  }
}
.main #details .description:nth-child(2) img {
  margin: -1.25rem 0 0 3.5rem;
}
@media only screen and (max-width: 640px) {
  .main #details .description:nth-child(2) img {
    margin: 1.875rem 0;
  }
}
/* -------------------------------- 
4. Contact Form
-------------------------------- */
#contact-form {
  background: #2358af;
  padding: 3.75rem 0;
}
#contact-form p {
  font-size: 1.125rem;
}
#contact-form .row {
  background: #fff;
  padding: 3.75rem 1.875rem;
  border-left: 30px solid #fff;
  border-right: 30px solid #fff;
}
#contact-form .eight:last-child {
  padding-top: 2.1875rem;
}
.cd-form input {
  margin: 0;
  padding: 0;
  background: none;
  font-family: 'PT Sans', sans-serif;
  font-size: 1.125rem;
  color: #a1a1a1;
}
.cd-form input.full-width {
  width: 100%;
}
.cd-form input.has-padding {
  padding: 0.9375rem;
}
.cd-form input.has-border {
  border: 1px solid #a1a1a1;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.cd-form .fieldset {
  padding: 0.5rem 0;
}
.cd-form textarea {
  font-family: 'PT Sans', sans-serif;
  resize: none;
  display: block;
  width: 100%;
  border: 1px solid #a1a1a1;
  padding: 0.9375rem;
  font-size: 1.125rem;
  color: #a1a1a1;
}
.cd-form .insc {
  display: inline-block;
  font-size: 0.875rem;
  color: #3a3b3c;
  line-height: 1.3em;
  font-family: 'PT Sans', sans-serif;
}
.cd-form input[type=text]:focus,
.cd-form textarea:focus {
  border: 1px solid #2358af;
  -webkit-box-shadow: 0px 0px 3px 0px rgba(35,88,175,0.36);
  -moz-box-shadow: 0px 0px 3px 0px rgba(35,88,175,0.36);
  -webkit-box-shadow: 0px 0px 3px 0px rgba(35,88,175,0.36);
  box-shadow: 0px 0px 3px 0px rgba(35,88,175,0.36);
  color: #dadada;
}
.error-message {
  background: #ff5f5f;
  padding: 0.5rem 1.25rem;
  color: #fff;
  font-size: 0.75rem;
/* prevent click and touch events */
  pointer-events: none;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  display: none;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  transition: all 200ms ease;
}
.error-message.is-visible {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  visibility: visible;
  display: inline-block;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  transition: all 200ms ease;
}
.input-error {
  border: 1px solid #dc0000;
  -webkit-box-shadow: 0px 0px 3px 0px rgba(220,0,0,0.36);
  -moz-box-shadow: 0px 0px 3px 0px rgba(220,0,0,0.36);
  -webkit-box-shadow: 0px 0px 3px 0px rgba(220,0,0,0.36);
  box-shadow: 0px 0px 3px 0px rgba(220,0,0,0.36);
  color: #dc0000;
}
.half {
  width: 50%;
}
.align-right {
  text-align: right;
  float: right;
}
.cd-form input[type=submit] {
  position: inline-block;
  right: 0;
  cursor: pointer;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  transition: all 200ms ease;
  -webkit-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
  background: #6dd97c;
  color: #fff;
  padding: 0.3125rem 1.875rem;
  font-family: 'Titillium Web', sans-serif;
  font-size: 1.125rem;
  font-weight: 600;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.cd-form input[type=submit]:hover,
.cd-form input[type=submit]:focus {
  background: #32c246;
  outline: none;
}
.tel-info {
  font-size: 2rem;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 600;
  line-height: 1.6em;
}
/* -------------------------------- 
5. Grid MOD
-------------------------------- */
.row {
  float: left;
  clear: both;
  width: 100%;
}
.container {
  position: relative;
  width: 100%;
  padding: 0 3.75em;
  z-index: 999;
}
.container .columns {
  float: left;
  padding: 0 1.56%;
}
.container .columns.one,
.container .columns.two,
.container .columns.three,
.container .columns.four,
.container .columns.five,
.container .columns.six,
.container .columns.seven,
.container .columns.eight,
.container .columns.nine,
.container .columns.ten,
.container .columns.eleven,
.container .columns.twelve,
.container .columns.thirteen,
.container .columns.fourteen,
.container .columns.fifteen,
.container .columns.sixteen {
  width: 100%;
}
.clearfix:after,
.container:after {
  content: '';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
  clear: both;
}
.clearfix,
.container {
  zoom: 1;
}
@media only screen and (min-width: 1024px) {
  .container {
    width: 1024px;
    margin: 0 auto;
    padding: 0;
  }
  .container .columns.one {
    width: 6.25%;
  }
  .container .columns.two {
    width: 12.5%;
  }
  .container .columns.three {
    width: 18.75%;
  }
  .container .columns.four {
    width: 25%;
  }
  .container .columns.five {
    width: 31.25%;
  }
  .container .columns.six {
    width: 37.5%;
  }
  .container .columns.seven {
    width: 43.75%;
  }
  .container .columns.eight {
    width: 50%;
  }
  .container .columns.nine {
    width: 56.25%;
  }
  .container .columns.ten {
    width: 62.5%;
  }
  .container .columns.eleven {
    width: 68.75%;
  }
  .container .columns.twelve {
    width: 75%;
  }
  .container .columns.thirteen {
    width: 81.25%;
  }
  .container .columns.fourteen {
    width: 87.5%;
  }
  .container .columns.fifteen {
    width: 93.75%;
  }
  .container .columns.sixteen {
    width: 100%;
  }
  .container .columns.offset8 {
    margin-left: 50%;
  }
}
/* -------------------------------- 
7. Slider (Flexslider) Style
-------------------------------- */
#slider {
  background: #efefef;
}
.flexslider {
  background: none;
  -webkit-border-radius: 0;
  border-radius: 0;
  border: none;
  position: relative;
  top: 20px;
  left: 0px;
  width: 100%;
}
.flexslider a {
  text-align: center;
  width: 25%;
  float: left;
}
.flex-control-nav {
  bottom: -30px;
}
.flexslider .slides img {
  width: auto;
  display: inline;
}
.flex-viewport {
  width: 100%;
  height: 100px;
  top: 20px;
  left: 0px;
  z-index: -10;
}
.flexslider .slides,
.flexslider .slides > li {
  background: none;
  width: inherit;
}
/* -------------------------------- 
8. Others
-------------------------------- */
.button-flat {
  cursor: pointer;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  transition: all 200ms ease;
  -webkit-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
  background: #6dd97c;
  color: #fff;
  padding: 0.3125rem 1.875rem;
  font-family: 'Titillium Web', sans-serif;
  font-size: 1.125rem;
  font-weight: 600;
  text-decoration: none;
}
@media only screen and (max-width: 639px) {
  .button-flat {
    padding: 0.375rem 7%;
    font-size: 0.5625rem;
  }
}
.button-flat.outline {
  padding: 0.625rem 1.875rem;
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
  font-weight: 400;
}
.button-flat:hover {
  background: #32c246;
}
.social-links {
  padding: 1rem 0 0.5rem 0;
}
.social-links a:first-child {
  display: inline-block;
  height: 40px;
  width: 40px;
  background: url("../imgs/icon-fb.svg") no-repeat;
}
.social-links a:last-child {
  margin-left: 4px;
  display: inline-block;
  height: 40px;
  width: 40px;
  background: url("../imgs/icon-tw.svg") no-repeat;
}
.list-image {
  list-style-image: url("../imgs/bullet.png");
  padding: 0.625rem 0 3.125rem 2rem;
}
.list-image-none {
  list-style: none;
}
@media only screen and (max-width: 639px) {
  h1 {
    font-size: 1.125rem;
  }
  h2 {
    font-size: 0.875rem;
  }
  p {
    font-size: 0.875rem;
  }
}
